<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @commune.name %>
</p>

<p>
  <b>String:</b>
  <%= @commune.streetname %>
</p>

<p>
  <b>String:</b>
  <%= @commune.streetnumber %>
</p>

<p>
  <b>String:</b>
  <%= @commune.zipcode %>
</p>

<p>
  <b>String:</b>
  <%= @commune.city %>
</p>

<p>
  <b>String:</b>
  <%= @commune.country %>
</p>


<%= link_to 'Edit', edit_commune_path(@commune) %> |
<%= link_to 'Back', communes_path %>
