<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @commune.string %>
</p>

<p>
  <b>String:</b>
  <%= @commune.string %>
</p>

<p>
  <b>String:</b>
  <%= @commune.string %>
</p>

<p>
  <b>String:</b>
  <%= @commune.string %>
</p>

<p>
  <b>String:</b>
  <%= @commune.string %>
</p>

<p>
  <b>String:</b>
  <%= @commune.string %>
</p>


<%= link_to 'Edit', edit_commune_path(@commune) %> |
<%= link_to 'Back', communes_path %>
